.html{
    background-color: bisque;

}
body{
    margin: 0;
}

.UWM-header {
     background-color: rgb(200, 200, 59);
    padding: 30px;
    color: #000000;
    margin-bottom: 20px;
}

.page-name{
    color: rgb(129, 77, 9);
    margin: 0;
}

.nav-links{
    color:rgb(255, 255, 255);
        padding: 30px;
}
.main-content{
    color: #ffff;
    background-color: rgb(0, 0, 0);
        padding: 30px;
            margin-bottom: 20px;
}
.site-footer{
    background-color: rgb(168, 139, 198);
    padding: 30px;
color: #000000;
}